img {
  -webkit-user-drag: none;
}

* {
  user-select: none;
}

.gamma-layout-view {
  margin-bottom: 28px;
}
.gamma-layout-view :first-child {
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
