.edit-page {
  position: absolute;
  box-sizing: content-box;
  padding: 2px;
  margin: -2px;
  .page-arrow-handler {
    pointer-events: auto;
    border-radius: 2px;
    position: absolute;
  }
  .outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .page-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -16px;
    height: 16px;
  }
  .page-bottom-arrow-handler {
    height: 6px;
    width: 80px;
    bottom: 5px;
    left: 50%;
    margin-left: -40px;
    cursor: ns-resize;
    border-radius: 3px;
  }
}
.edit-page-layer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  pointer-events: none;
}
