.viewport-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 40px 0;
  .editable-box-layer {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .viewport {
    position: relative;
    border: 1px solid transparent;
    margin: 0 auto;
    overflow: hidden;
  }
}
